<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <add key="ServiceDescription" value="Description of website running as service" />
    <add key="ServiceDisplayName" value="The service display name" />
    <add key="ServiceName" value="The service name" />

    <add key="IISPath" value="c:\Program Files\IIS Express\iisexpress.exe" />
    <add key="WebSitePath" value="[DEVELOPER VALUE]" />
    <add key="Port" value="2000" />

    <add key="RunAsLocalService" value="false" />
    
    <add key="serilog:using:ColoredConsole" value="Serilog.Sinks.ColoredConsole" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />

    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value=".\{Date}.log" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="3" />
  </appSettings>
  
</configuration>